@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/*
@font-face ?
:root ?
etc.

global styles and all that stuff...
*/

:root {
    color-scheme: dark;
}

@theme {
    --animate-highlight: highlight 500ms ease 3;

    @keyframes highlight {
        0%,
        100% {
            filter: brightness(100%);
        }

        50% {
            filter: brightness(120%);
        }
    }
}

body {
    background: transparent url('/img/backgrounds/pills.webp') center center no-repeat;
    background-size: cover;
    font-family: 'Jost', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: hsl(0 0% 0% / .8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Glass Antiqua", cursive;
    font-weight: bold;
}

.glass {
    border-color: hsl(0 100% 100% / .3);
    background-color: hsl(0 100% 100% / .1);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.glass--danger {
    border-color: hsl(0 80% 80% / .3);
    background-color: hsl(0 80% 10% / .1);

    color: hsl(0 100% 20%);
}

.glass--success {

    border-color: hsl(112 80% 90% / 0.3);
    background-color: hsl(112 80% 40% / .1);

    color: hsl(112 80% 20%);
}

.glass--border {
    border-color: hsl(0 100% 100% / .3);
}

.glass--events {
    @apply transition rounded-lg bg-white/20 cursor-pointer;

    &:hover {
        background-color: hsl(0 100% 100% / .4);
    }

    &:active {
        background-color: hsl(0 100% 100% / .3);
    }
}

.container {
    width: min(100% - 32px, 320rem);
}

.linear-to-l {
    @apply bg-linear-to-l from-white/25 to-white/0;
}

.linear-to-r {
    @apply bg-linear-to-r from-white/25 to-white/0;
}

.linear-to-t {
    @apply bg-linear-to-t from-white/25 to-white/0;
}

.linear-to-b {
    @apply bg-linear-to-b from-white/25 to-white/0;
}